spring:
  docker:
    compose:
      enabled: true
      file: development/docker/postgres/compose.yaml
      lifecycle-management: start_only
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true